@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(227, 234, 239, 1);
    --foreground: rgba(255, 255, 255, 1);

    --primary: rgba(33, 136, 255, 1);
    --secondary: rgba(2, 59, 120, 1);
    --tertiary: rgba(23, 25, 45, 1);

    --text-bolder: rgba(36, 41, 47, 1);
    --text-bold: rgba(23, 25, 45, 1);
    --text-foreground: rgba(255, 255, 255, 1);
    --text-medium: rgba(136, 146, 156, 1);
    --text-light: rgba(119, 129, 140, 1);
    --text-lighter: rgba(193, 201, 210, 1);

    --border: rgba(216, 223, 230, 1);
    --border-primary: rgba(85, 166, 255, 1);

    --danger: rgba(237, 56, 51, 1);

    --input-background: rgba(242, 248, 255, 1);

    --rounded-sm: 0.125rem;
    --rounded-md: 0.188rem;
    --rounded-lg: 0.25rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
